/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

code {
	
}

h1, h2, h3 {
text-align: center;
margin-top: 5px;
}

h1 {

}

h2 {

}

h3 {
	
}

header {
	text-align: center;
	margin-top: 5px;
}

main {
	margin-top: 15px;
}

p {
	text-align: center;
}

#intro {
margin-top: 20px;
}

#how-does-it-work, #influence, #joke {
	margin-bottom: 15px;
}